.services-page{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.services-list{
    flex-direction: column;
    align-items: flex-start;

}
.service{
    margin-bottom: 5vh;
    display: flex;
    flex-direction: row;
}

@media (max-width: 768px) {
    .service {
      flex-direction: column;
      align-items: center;
    }
}

.service-text{
    margin-left: 1vw;
    max-width: 50vw;
}